body {
    color: white;
    background: rgb(17, 16, 16);
    margin: 5px;
    text-align: center;
    font-family: "Grechen Fuemen", serif;
    font-style: normal;
}

h1{
font-size: 30px;
}

h2{
font-size: 25;
}

p{
font-size: 20px;
}