body {
    color: rgb(255, 177, 201);
    background: rgb(12, 1, 4);
    margin: 10px;
    text-align: center;
    font-family: "IBM Plex Mono", serif;
    font-style: normal;
}

a{
    font-size: 90px;
    color: rgb(190, 14, 67);
}

h1{
    font-size: 50px;
}

h2{
    font-size: 65;
}

p{
    font-size: 45px;
}