body {
    color: white;
    background: rgb(129, 129, 129);
    margin: 5px;
    text-align: left;
}

p {
    color: white;
}

.itl {
    font-style: italic;
}
.icon {
    width: 30%;
}

header {
    border-bottom: solid 2px rgb(85, 193, 226);
    padding: 20px;
    font-size: 20px;
    text-decoration: none;
}