body {
    color: white;
    background: rgb(17, 16, 16);
    margin: 5px;
    text-align: center;
    font-family: "Grechen Fuemen", serif;
    font-style: normal;
}

a{
    font-size: 40px;
}

h1{
font-size: 50px;
}

h2{
font-size: 45;
}

p{
font-size: 40px;
}